/* Шрифты */
@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Bold.woff");
  font-weight: 700;
}

/* Общие стили */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
  font-family: TTLakes;
}

p {
  margin: 0;
}

/* Стили под ширину 320px*/
@media (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0 auto;
  }

  /* header */
  .header__menu--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  .header__wrapper--first,
  .header__wrapper--second {
    display: flex;
    justify-content: space-around;
    gap: 16px;
  }
  .header__wrapper--first {
    margin-left: 15px;
  }
  .header__wrapper--second {
    margin-right: 15px;
  }

  .header__wrapper--second .header__menu--item:nth-child(1) {
    display: none;
    visibility: hidden;
  }
  .header__wrapper--second .header__menu--item:nth-child(2) {
    display: none;
    visibility: hidden;
  }

  .header__menu--divider {
    align-self: center;
  }

  .header__menu--text {
    visibility: hidden;
    display: none;
  }

  .header__menu--item:nth-child(3) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(4) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(5) {
    visibility: hidden;
    display: none;
  }

  /* Main title*/
  .title {
    font-family: TTLakes;
    color: rgb(27, 28, 33);
    font-size: 28px;
    font-weight: 700;
  }
  .main__title {
    display: flex;
    margin-bottom: 30px;
  }
  .main__title--text {
    margin-left: 12px;
    align-self: center;
  }
  /* main services с прокруткой*/
  .main__services {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .main__services--list {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
  .services--item {
    padding: 7px 10px 7px 17px;
    margin-left: 15px;
  }

  .services--item:first-child {
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
  }
  .main-services--link {
    white-space: pre;
    color: rgb(126, 126, 130);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  /* main article */

  .main__article {
    width: 90vw;
    height: 50%;
  }
  .main__container {
    margin-left: 16px;
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .main__paragraph-second {
    visibility: hidden;
    display: none;
  }
  .main__btn {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: white;
  }

  @media (hover: hover) {
    .main__btn:hover {
      background-color: bisque;
    }
  }

  .btn--text {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  .main__img {
    height: 50%;
    width: 100%;
    margin-left: 0 auto;
  }
  .main__wrapper--img {
    justify-self: center;
  }
}

/* Стили под ширину 768px */
@media (min-width: 767px) and (max-width: 1120px) {
  body {
    max-width: 1140px;
  }
  .header__menu--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  .header__wrapper--first,
  .header__wrapper--second {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .header__wrapper--first {
    margin-left: 25px;
  }
  .header__wrapper--second {
    margin-right: 25px;
  }

  .header__wrapper--second .header__menu--item:nth-child() {
    display: none;
    visibility: hidden;
  }

  .header__menu--divider {
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header__menu--text {
    visibility: hidden;
    display: none;
  }

  /* Main title*/
  .title {
    font-family: TTLakes;
    color: rgb(27, 28, 33);
    font-size: 28px;
    font-weight: 700;
  }
  .main__title {
    display: flex;
    margin-bottom: 30px;
  }
  .main__title--text {
    margin-left: 20px;
    align-self: center;
  }
  /* main services с прокруткой*/
  .main__services {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .main__services--list {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
  .services--item {
    padding: 7px 10px 7px 17px;
    margin-left: 15px;
  }

  .services--item:first-child {
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
  }

  .main-services--link {
    white-space: pre;
    color: rgb(126, 126, 130);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  /* main article */
  .main__wrapper {
    display: flex;
  }

  .main__article {
    width: 50vw;
  }
  .main__container {
    margin-left: 16px;
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .main__paragraph--first {
    margin-bottom: 20px;
  }
  .main__text--hidden {
    visibility: hidden;
    display: none;
  }
  .main__btn {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: white;
  }

  @media (hover: hover) {
    .main__btn:hover {
      background-color: bisque;
    }
  }

  .btn--text {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  .main__img {
    width: 50vw;
    margin-left: 48px;
  }
}

/*Стили для большого экрана  */
@media (min-width: 1120px) {
  .wrapper__body {
    max-width: 1140px;
    margin: 0 auto;
  }
  .header {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }

  .header__nav {
    margin-bottom: -60px;
    padding-top: 40px;
    padding-right: 30px;
  }

  .header__menu--list {
    display: flex;
    margin-left: 715px;
    
    height: 90px;
  }
  .header__wrapper--first,
  .header__wrapper--second {
    display: flex;
    align-items: center;
  }

  .header__menu--text {
    margin-left: 30px;
    margin-right: 10px;
    white-space: pre;
    
  }

  .header__menu--item:nth-child(1) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(2) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(3) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(4) {
    visibility: hidden;
    display: none;
  }
  .header__menu--item:nth-child(5) {
    visibility: hidden;
    display: none;
  }
  .header__menu--divider {
    visibility: hidden;
    display: none;
  }

  /* Main title*/
  .main__wrapper {
    justify-self: center;
  }
  .title {
    font-family: TTLakes;
    color: rgb(27, 28, 33);
    font-size: 28px;
    font-weight: 700;
  }
  .main__title {
    display: flex;
    margin-bottom: 30px;
  }

  .main__title--text {
    margin-left: 30px;
  }
  /* main services с прокруткой*/
  .main__services {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  .main__services--list {
    display: flex;
    flex-wrap: wrap;
  }
  .services--item {
    padding: 7px 10px 7px 17px;
    margin-left: 15px;
  }

  .services--item:first-child {
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
  }

  .main-services--link {
    white-space: pre;
    color: rgb(126, 126, 130);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  /* main article */
  .main__wrapper {
    display: flex;
  }

  .main__container {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;

    margin-left: 24px;
  }

  .main__paragraph--first {
    margin-bottom: 20px;
  }

  .main__btn {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: white;
  }

  @media (hover: hover) {
    .main__btn:hover {
      background-color: bisque;
    }
  }

  .btn--text {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
  }
  .main__img {
    width: 530px;
    margin-left: 50px;
  }
  .main__wrapper--img {
    justify-self: center;
  }
}
